<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.studentslist">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_USER_DICTIONARY" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />

    <application
        android:name=".realm.data.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".recyclerview.RecyclerViewActivity"
            android:label="@string/app_nameRV" />
        <activity
            android:name=".listview.ListViewActivity"
            android:label="@string/app_nameLV" />
        <activity
            android:name=".showprofile.ShowProfileActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="github.com"
                    android:scheme="http" />
                <data
                    android:host="github.com"
                    android:scheme="https" />
                <data
                    android:host="plus.google.com"
                    android:scheme="http" />
                <data
                    android:host="plus.google.com"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ImageActivity"
            android:label="@string/image_from_gallery_camera" />
        <activity android:name=".contact.PhoneBookActivity" />
        <activity
            android:name=".realm.RealmActivity"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>